<template>
  <div class="wrapper-dialog">
    <div class="dialog">
      <div class="__header position-relative">
        <div class="d-flex flex-column w-100">
          <div class="dialog-title">
            {{title}}
          </div>
        </div>
        <div class="group-btn">
          <div class="close-dialog" @click="$emit('click-no')"></div>
        </div>
      </div>
      <!-- <span class="dialog-title">
        <i class="fa fa-question-circle-o"></i>
        {{title}}
      </span> -->
      <span class="dialog-content">{{content}}</span>
      <div class="dialog-buttons">
        <a class="clear-button" @click="$emit('click-no')">No</a>
        <a class="button" @click="$emit('click-yes')">Yes</a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "DialogConfirm",
  props: ['title', 'content']
}
</script>

<style scoped lang='scss'>
.wrapper-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .dialog {
    background-color: #f0f3f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-width: 330px;
    max-width: 400px;
    .__header {
      display: flex;
      justify-content: space-between;
      .close-dialog {
        position: relative;
        width: 24px;
        height: 24px;
        &::before, &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 16px;
          background: #454F63;
          right: 50%;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
        &:hover, &:focus {
          cursor: pointer;
        }
      }
    }
    .dialog-title {
      display: flex;
      font-size: 24px !important;
      font-weight: 600;
      align-items: center;
      color: #525252;
      i {
        font-size: 26px;
        padding-right: 5px;
      }
    }
    .dialog-content {
      padding-top: 20px;
      // padding-left: 34px;
      color: #525252;
      font-size: 16px;
    }
    .dialog-buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      a {
        // margin-left: 20px;
        min-width: 100px;
      }
      .button {
        display: block;
        background: #202B5A;
        border-radius: 3px;
        padding: 7px 15px;
        color: #fff!important;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        border: 1px solid #202B5A;
        cursor: pointer;
        font-size: 14px;
      }
      .clear-button {
        display: block;
        background: #F6F6FE;
        border-radius: 3px;
        padding: 7px 15px;
        color: #202B5A!important;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #F6F6FE;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
</style>
