<template>
  <div class="wrapper-dialog">
    <div class="dialog-success">
      <span class="dialog-title">
        <i class="fa fa-exclamation-circle"></i>
        {{title}}
      </span>
      <span class="dialog-content">{{content}}</span>
      <div class="dialog-buttons">
        <a class="button btn-custom" @click="$emit('click-yes')">{{button}}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DialogError",
  props: ['title', 'content', 'button']
}
</script>

<style scoped lang='scss'>
.wrapper-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .dialog-success {
    background-color: #f0f3f5;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-width: 330px;
    max-width: 400px;
    .dialog-title {
      color: #28a745;
      display: flex;
      font-size: 24px;
      font-weight: 600;
      align-items: center;
      i {
        font-size: 26px;
        padding-right: 5px;
      }
    }
    .dialog-content {
      padding-top: 20px;
      padding-left: 34px;
      font-size: 16px;
    }
    .dialog-buttons {
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;
      a {
        margin-left: 20px;
        min-width: 100px;
      }
      .button {
        display: block;
        background: #2cb696;
        border-radius: 3px;
        padding: 7px 15px;
        color: #fff!important;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        border: 1px solid #2cb696;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
</style>
