<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-container-x">
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "FullModal"
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  display: table;
  transition: opacity 0.01s ease;
}

.modal-container-x {
  width: 1vw;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
