<template>
  <div class="table-function w-100">
    <client-only>
      <b-table hover striped fixed responsive="sm" :items="getItems"
        :fields="getContractFields" :current-page="1" :per-page="perPage">
        <template #cell(name)="data">
          <div @click="onClickItem(data.item)">{{ data.value }}</div>
        </template>
        <template #cell(avatar)="data">
          <img v-if="data.value" :src="data.value" alt="" srcset="" class="image-avatar">
          <div v-else src alt="" srcset="" class="image-avatar"></div>
        </template>
        <template #cell(gender)="data">
          {{ data.value == 1 ? $t('account_info.female') : $t('account_info.male') }}
        </template>
        <template #cell(checkReceiveInfo)="data">
          <button v-if="data.value" type="button" class="btn btn-view" @click.prevent.stop="onViewSalaryInfo(data.item)">{{ $t('invoice_manage.see') }}</button>
        </template>
        <template #cell(status)="data">
          <b-form-checkbox v-model="data.value" class="checked" read-only disabled name="check-button" switch>
          </b-form-checkbox>
        </template>
      </b-table>
    </client-only>
    <div class="text-center mt-4" v-if="listItems.length == 0">
      <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.3" d="M116.667 58.3333H66.667V175H158.334V99.9999H116.667V58.3333Z" fill="#E4E4E4"/>
        <path d="M133.334 8.33325H33.3337C24.167 8.33325 16.667 15.8333 16.667 24.9999V141.667H33.3337V24.9999H133.334V8.33325ZM125 41.6666H66.667C57.5003 41.6666 50.0837 49.1666 50.0837 58.3333L50.0003 175C50.0003 184.167 57.417 191.667 66.5837 191.667H158.334C167.5 191.667 175 184.167 175 175V91.6666L125 41.6666ZM158.334 175H66.667V58.3333H116.667V99.9999H158.334V175Z" fill="#E4E4E4"/>
      </svg>
    </div>
    <nav>
      <vue-pagination
        :baseUrl="baseUrl"
        :optionParam="optionParam ? `${optionParam}&sort=created_at&order=DESC` : `sort=created_at&order=DESC`"
        :paging="10"
        class="mt-3"
        @fetch-success="parseDataClass"
        @before-fetch="isLoading = $event"
        ref="pagination"
      />
    </nav>
  </div>
</template>

<script>
import VuePagination from '~/components/VuePagination.vue';
// import mixin from '../mixins/common.js'
export default {
  props: ['baseUrl', 'optionParam'],
  components: {
    VuePagination
  },
  // mixins : [mixin],
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      listItems: [],
      isLoading: false
    }
  },
  computed: {
    getItems(){
      return this.formatFields(this.listItems);
    },
    getContractFields(){
      return [
        { key: 'avatar', label: this.$t('account_info.image') },
        { key: 'name', label: this.$t('account_info.full_name'), sortable: false, class: 'text-hover-underline color-1' },
        { key: 'email', label: this.$t('account_info.email'), sortable: false },
        { key: 'dateOfBirth', label: this.$t('account_info.date_of_birth'), sortable: false, class: 'fs-12' },
        { key: 'gender', label: this.$t('account_info.gender'), sortable: false },
        { key: 'phoneNumber', label: this.$t('account_info.phone_number'), sortable: false },
        { key: 'typeWorking', label: this.$t('salary_manage.work_type'), sortable: false, class: 'fw-600 color-2' },
        { key: 'checkReceiveInfo', label: this.$t('salary_manage.salary_infomation'), sortable: false },
        { key: 'status', label: 'On/Off', sortable: false },
      ]
    }
  },
  methods: {
    formatFields(__items = []) {
      return [...__items.map(_rs => {
        _rs.dateOfBirth = this.$moment(_rs.dateOfBirth).locale(this.$i18n.locale).format('L');
        // _rs.gender = (_rs.gender == 1 || _rs.gender == 'Nữ')? 'Nữ' : 'Nam';
        _rs.typeWorking = (_rs.typeWorking === 'Full time' || _rs.typeWorking === this.$t('salary_manage.full_time')) ? this.$t('salary_manage.full_time') : this.$t('salary_manage.part_time');
        _rs.status = (_rs.status === 'WORK' || _rs.status == true) ? true : false;
        return _rs;
      })]
    },
    parseDataClass(results) {
      this.listItems = results;
    },
    onClickItem(item){
      console.log('hey');
      this.$router.push(this.localePath(`/account/${item.idUserInfo}`));
    },
    onViewSalaryInfo(item) {
      this.$router.push(this.localePath(`/account/${item.idUserInfo}/salary-receive`));
    },
    async onChangeStatus(user) {
      let title = user.status ? this.$t('auth.deactivate') : this.$t('auth.active');
      let message = user.status ? this.$t('auth.confirm_deactivate') : this.$t('auth.confirm_active');
      this.$bvModal.msgBoxConfirm(message, {
        title: title,
        size: 'md',
        buttonSize: 'sm',
        okVariant: 'primary',
        headerClass: 'p-3 border-bottom-0',
        footerClass: 'p-3 border-top-0',
        okTitle: this.$t('common.ok'),
        cancelTitle: this.$t('account_info.cancel'),
        hideHeaderClose: false,
        // centered: true
      }).then(async (value) => {
        if(value) {
          try {
            await this.$axios.put(`admin/activeUser/${user.idUserInfo}`, {
              status: user.status ? 'STOP_WORKING' : 'WORK'
            })
            user.status = !user.status;
            this.$forceUpdate();
          } catch (error) {
            console.log('error', error);
            this.$handleErrorApi(error, error => {
              this.$bvModal.msgBoxOk(this.$t(`error.${error}`.toString()), {
                title: this.$t('error.error').toString(),
                size: 'md',
                buttonSize: 'sm',
                okVariant: 'danger',
                headerClass: 'p-3 border-bottom-0',
                footerClass: 'p-3 border-top-0',
                okTitle: this.$t('common.ok'),
                cancelTitle: this.$t('account_info.cancel'),
                hideHeaderClose: false,
                // centered: true
              }).then(value => {
                // this.boxTwo = value
              }).catch(err => {
                // An error occurred
              })
            })
          }
        }
      }).catch(err => {
        // An error occurred
      })
    },
    async onTerminate(user) {
      this.$bvModal.msgBoxConfirm(this.$t('auth.confirm_terminate'), {
        title: this.$t('auth.terminate'),
        size: 'md',
        buttonSize: 'sm',
        okVariant: 'primary',
        headerClass: 'p-3 border-bottom-0',
        footerClass: 'p-3 border-top-0',
        okTitle: this.$t('common.ok'),
        cancelTitle: this.$t('account_info.cancel'),
        hideHeaderClose: false,
        // centered: true
      }).then(async (value) => {
        if(value) {
          try {
            await this.$axios.post(`admin/terminateContract/${user.idUserInfo}`, {
              dateTerminate: this.$moment().format('YYYY-MM-DD')
            });
            this.$nuxt.refresh();
          } catch (error) {
            console.log('error', error);
            this.$handleErrorApi(error, error => {
              this.$bvModal.msgBoxOk(this.$t(`error.${error}`.toString()), {
                title: this.$t('error.error').toString(),
                size: 'md',
                buttonSize: 'sm',
                okVariant: 'danger',
                headerClass: 'p-3 border-bottom-0',
                footerClass: 'p-3 border-top-0',
                okTitle: this.$t('common.ok'),
                cancelTitle: this.$t('account_info.cancel'),
                hideHeaderClose: false,
                // centered: true
              }).then(value => {
                // this.boxTwo = value
              }).catch(err => {
                // An error occurred
              })
            })
          }
        }
      }).catch(err => {
        // An error occurred
      })
    },
  },
}
</script>
<style lang="scss" scoped>
  @import './assets/scss/table.scss';
</style>