html,
body {
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
  height: 100%;
  width: 100%;
  word-break: break-word;
}
body {
  // overflow-y: scroll;
}
#__nuxt, #__layout, #app-container, .body {
  min-height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.mt-30 {
  margin-top: 30px;
}
.bg-grey {
  background-color: #F8F8F8;
}
.color-primary {
  color: #083868 !important;
  &:hover {
    color: #083868 !important;
  }
}
.cursor-default {
  cursor: default !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.bg-blue {
  background-color: #E8F0F5;
}
.container-fluid {
  padding: 10px 40px;
}
.title-page {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252624;
}
.btn-add {
  background: #083868;
  border: 0.5px solid #CAC9C9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
  }
}
.btn-search {
  min-width: 93px;
  background: #083868;
  border: 0.5px solid #EFDBCB;
  border-radius: 3px;
  padding: 6px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
  }
}
.btn-view {
  min-width: 93px;
  background: #3D7AD1;
  border-radius: 3px;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
  }
  &.deactivate {
    background: #EFEFEF;
    color: #252624;
    pointer-events: none;
  }
}
.table thead th {
  vertical-align: inherit;
}
.small {
  font-size: 14px;
  display: inline-block;
}
.text-hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.input-group {
  flex-wrap: inherit;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Browse';
}
.custom-file-input:lang(vi) ~ .custom-file-label::after {
  content: 'Tải lên';
}
.custom-file-input:lang(ja) ~ .custom-file-label::after {
  content: 'ブラウズ';
}
.z-index-2 {
  z-index: 2;
}
.cursor-pointer {
  cursor: pointer;
}

.flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  user-select: none;
}