
.table-function{
  // .title-article {
  //   display: -webkit-box;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   -webkit-line-clamp: 2;
  //   -webkit-box-orient: vertical;
  // }
  // .object-name{
  //   display: -webkit-box;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   -webkit-line-clamp: 2;
  //   -webkit-box-orient: vertical;
  //   &:hover, &:focus {
  //     text-decoration: underline;
  //     cursor: pointer;
  //   }
  // }
  .b-table-sticky-header {
    max-height: 500px;
  }
  & :deep( .table-striped tbody tr) {
    background-color: #FFFFFF;

  }
  & :deep( .table-hover tbody tr:hover ){
    background-color: #EFEFEF;
    // cursor: pointer;
  }
  & :deep( .table td ){
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #323531;
    border-top: none;
    padding: 8px;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    vertical-align: inherit;
    white-space: nowrap;
    &.multi-line {
      white-space: inherit;
      -webkit-line-clamp: 10;
    }
    &.fs-12 {
      font-size: 12px;
    }
    &.fw-500 {
      font-weight: 500;
    }
    &.fw-600 {
      font-weight: 600;
    }
    &.fw-700 {
      font-weight: 700;
    }
    &.color-1 {
      color: #170681;
    }
    &.color-2 {
      color: #264E85;
    }
    &.color-3 {
      color: #1D157D;
    }
  }
  & :deep( .table th ){
    min-height: 46px;
    padding: 7px 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFF !important;
    text-align: center;
    background: #264E85 !important;
    border: 0.5px solid #B8B8B8;
  }
  & :deep( .table tr.row-pointer){
    cursor: pointer;
  }
  .image-avatar {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-color: #D9D9D9;
    display: inline-block;
  }
}