<template>
    <div class="container-fluid bg-grey d-flex align-items-center justify-content-between mt-5 pt-3">
      
    <div class="d-flex">
      <div class="info-group">
        <div class="page-title">
          <h1>Update Virtual Agent</h1>
        </div>
        <div class="page-content">
          <ValidationObserver tag="div" v-slot="{ pristine }" ref="obs">
            <v-text-field-with-validation
                rules=""
                label="Virtual Agent's name"
                v-model="bot.botName"
                class=""
            />
            <v-text-field-with-validation
              rules=""
              label="Description"
              v-model="bot.description"
            />
            
            <div class="button-create">
              <button type="button" class="btn" :class="{ 'disable': pristine }" @click="onSave()">
                Update
              </button>
            </div>
          </ValidationObserver>
        </div>
      </div>
    </div>
    <div class="image-wrapper">
      <img class="image" src="~/assets/images/chatbot-update.jpg" alt="">
    </div>
  </div>
</template>
<script>
import { ValidationObserver } from 'vee-validate';
import VTextFieldWithValidation from '~/components/forms/VTextFieldWithValidation.vue';
import VSelect from '~/components/forms/VSelect2.vue';
import VDatepickerWithValidation from '~/components/forms/VDatepickerWithValidation.vue';
import VCropImageUpload from '~/components/avatar-upload/VCropImageUpload.vue';

export default {
  components: {
    VTextFieldWithValidation,
    ValidationObserver,
    VSelect,
    VDatepickerWithValidation,
    VCropImageUpload
  },
  // middleware: ['user-guard'],
  data() {
    return {
        bot: {
        }
    }
  },
  async asyncData({ $axios, params}) {
    try {
      const rs = await $axios.$get(`api/bots/${params.id}`);
      const bot= rs['data'];
      return {
        bot,
      }
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    async onSave() {
      const valid = await this.$refs['obs'].validate();
      if(valid) {
        this.$bvModal.msgBoxConfirm(this.$t('Do you want to update this chat bot?'), {
          title: this.$t('Note'),
          size: 'md',
          buttonSize: 'sm',
          okVariant: 'primary',
          headerClass: 'p-3 border-bottom-0',
          footerClass: 'p-3 border-top-0',
          okTitle: this.$t('Ok'),
          cancelTitle: this.$t('Cancel'),
          hideHeaderClose: false,
          // centered: true
        }).then(async (value) => {
          if(value) {
            try {
                await this.$axios.put(`api/bots/${this.$route.params.id}`, {
                    botName: this.bot.botName
                })
              
              this.$bvModal.msgBoxOk(this.$t('Success'), {
                title: this.$t('Success').toString(),
                size: 'md',
                buttonSize: 'sm',
                okVariant: 'success',
                headerClass: 'p-3 border-bottom-0',
                footerClass: 'p-3 border-top-0',
                okTitle: this.$t('Ok'),
                cancelTitle: this.$t('Cancel'),
                hideHeaderClose: false,
                // centered: true
              }).then(value => {
                // this.boxTwo = value
                this.$router.push(this.localePath('/chat-bots'))
              }).catch(err => {
                // An error occurred
              })
              
            } catch (error) {
              this.$handleErrorApi(error, error => {
                this.$bvModal.msgBoxOk(this.$t(`error.${error}`).toString(), {
                  title: this.$t('error.error').toString(),
                  size: 'md',
                  buttonSize: 'sm',
                  okVariant: 'danger',
                  headerClass: 'p-3 border-bottom-0',
                  footerClass: 'p-3 border-top-0',
                  okTitle: this.$t('common.ok'),
                  cancelTitle: this.$t('account_info.cancel'),
                  hideHeaderClose: false,
                  // centered: true
                }).then(value => {
                  // this.boxTwo = value
                }).catch(err => {
                  // An error occurred
                })
              })
            }
          }
        }).catch(e => {
          console.log(e);
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
.image-wrapper img{
  border-radius: 83% 17% 32% 68% / 64% 50% 50% 36%  ;
  width: 500px;
}
.container-fluid {
  padding: 0 40px 0 20px;
}
.avatar-group {
  padding: 18px 22px;
  background-color: #083868;
  .avatar-user {
    // img {
      // border: 10px solid #FFFFFF;
      // border-radius: 50px;
      width: 192px;
      height: 192px;
      // object-fit: cover;
      // background-color: #BFC2C5;
    // }
    margin-bottom: 16px;
  }
  .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  .position {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #EFEFEF;
  }
}
.info-group {
  padding: 110px 56px;
  flex-grow: 1;
}
.page-title {
  margin-bottom: 52px;
  h1 {
    font-weight: 565;
    font-size: 36px;
    line-height: 22px;
    color: #041C4A;
  }
}
.button-create {
  width: 100%;
  text-align: right;
  margin-top: 24px;
  button {
    min-width: 91px;
    background: #2282e9 !important;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 24px;
    transition: 0.3s ease-out;
    &:hover {
      background-color: #083868 !important;
    }
    &.disable {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
</style>