<template>
  <div class="sidebar-wrapper">
    <div class="d-block sidebar">
      <div class="d-flex info-user">
        <img src="~/assets/images/chatbot-1.jpeg" alt="avatar" class="img-avatar">

        <span class="user-name">{{ bot.bot.botName }}</span>
      </div>

      <nuxt-link :to="localePath(`/chat-bots/${bot.bot.botId}/summarize`)" class="sidebar-item d-flex justify-content-between">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <i class="pi pi-check" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Summarize</span>
        </div>
      </nuxt-link>

      <nuxt-link :to="localePath(`/chat-bots/${bot.bot.botId}/contexts`)" class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('context')}">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <i class="pi pi-list" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Contexts</span>
        </div>
      </nuxt-link>
      <nuxt-link :to="localePath(`/chat-bots/${bot.bot.botId}/response`)" class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('response')}">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <i class="pi pi-send" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Responses</span>
        </div>
      </nuxt-link>
      <div class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('train')}" @click="onClickTrainBot(bot.bot.botId)">
        <div class="d-flex">
          <span class="d-flex mr-2">
            <i class="pi pi-bolt" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Train bot</span>
        </div>
      </div>

      <div class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('train')}" @click="onClickTrainBot(bot.bot.botId)">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <i class="pi pi-file-edit" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Configuration</span>
        </div>
      </div>

      <div class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('train')}" @click="onClickTrainBot(bot.bot.botId)">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <i class="pi pi-sitemap" style="color: black; font-size: 1.2rem;"></i>
          </span>
          <span class="sidebar-item-text">Integration</span>
        </div>
      </div>

      <nuxt-link :to="localePath(`/chat-bots/${bot.bot.botId}/chat`)" class="sidebar-item d-flex justify-content-between" :class="{'active': $route?.name?.includes('chats')}">
        <div class="d-flex" style="display: flex; align-items: center;">
          <span class="d-flex mr-2">
            <span class="d-flex mr-2">
            <i class="pi pi-comments" style="color: black; font-size: 1.2rem;"></i>
          </span>
          </span>
          <span class="sidebar-item-text">Chats</span>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    console.log(this.$route.name);

    return {
      showMenuLeave: false,
      showMenuBot: false,
      checkHide: false,
    }
  },
  computed: {
    bot() {
      return this.$store.state.bot
    }
  },
  // async asyncData({ $axios, params}) {
  //   try {
  //     const botId = sessionStorage.getItem('botId');
  //     const rs_bot = await $axios.$get(`api/bots/${botId}`);
  //     const bot = rs_bot['data']
  //     return {
  //       bot
  //     }
  //   } catch (error) {
  //     console.log(error);
  //   }
  // },
  created() {
    // try {
    //   if (this.$auth.user.role === 'ROLE_USER') return;
    //   const rs = await Promise.all([
    //     this.$axios.$get(`admin/numRequest`),
    //     this.$axios.$get(`admin/numApplicationOffUnapproved`)
    //   ]);

    //   this.numRequest = rs[0]["data"].numNotification;
    //   this.numRequestApplication = rs[1]["data"].numNotification;
    // } catch (error) {
      
    // }
    console.log(this.$store.state.bot.bot.botName);
  },
  methods:{
    onClickTrainBot(id) {
        this.$axios.post(`api/bots/${id}/train`, {
        })
        
        this.$bvModal.msgBoxOk(this.$t('Success'), {
            title: this.$t('Success').toString(),
            size: 'md',
            buttonSize: 'sm',
            okVariant: 'success',
            headerClass: 'p-3 border-bottom-0',
            footerClass: 'p-3 border-top-0',
            okTitle: this.$t('common.ok'),
            cancelTitle: this.$t('account_info.cancel'),
            hideHeaderClose: false,
            // centered: true
        }).then(value => {
            // this.boxTwo = value
            this.$router.push(this.localePath(`/chat-bots/${id}/contexts`))
        }).catch(err => {
            // An error occurred
        })
    },
  }
}
</script>

<style scoped lang="scss">
a {
  display: block;
}
.sidebar-wrapper {
  width: 260px;
  // padding-right: 239px;
  height: 100%;
  // position: relative;
  position: sticky;
  top: 80px;
  float: left;
  margin-right: 20px;

  .icon-hide {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .sidebar {
    width: 260px;
    // position: absolute;
    // position: fixed;
    height: calc(100vh - 98px);
    overflow-y: auto;
    transition: 0.3s;
    &.hide {
      width: 50px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			background-color: #083868;
		}
    .sidebar-item {
      padding: 16px 8px 16px 24px;
      text-decoration: none;
      display: flex;
      transition: 0.3s;
      .sidebar-item-text {
        color: #083868;
        font-weight: 460;
        font-size: 14px;
        line-height: 30px;
      }
      .notification-num {
        margin-right: 12px;
        height: 18px;
        width: 18px;
        background: #FF0000;
        border-radius: 100%;
        
        font-weight: 565;
        font-size: 8px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        justify-content: center;
      }
      .icon-dropdown {
        svg {
          transition: 0.3s;
          &.rotate {
            transform: rotate(180deg);
          }
        }
      }
      &:hover {
        background: rgba($color: #000000, $alpha: 0.1);
      }
      &.active {
        background: #083868;
        .sidebar-item-text {
          color: #FFF;
        }
        svg {
          path {
            // fill: #FFF; 
            stroke: #FFF;
          }
        }
      }
    }
    .menu-item {
      @extend .sidebar-item;
      background-color: #EFEFEF;
      &.active-1 {
        background-color: #BFC2C5;
      }
    }
    .info-user {
      padding: 16px 8px 16px 24px;
      align-items: center;
      .img-avatar {
        border-radius: 100px;
        height: 50px;
        width: 50px;
        background-color: #BFC2C5;
        object-fit: cover;
      }
      .user-name {
        margin-left: 10px;
        font-weight: 561;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.04em;
        color: #252624;
        vertical-align: baseline;
        &.name-admin {
          color: #083868;
          margin-left: 22px;
        }
      }
    }
  }
}
.menu-salary, .menu-bot {
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: hidden;
  &.show {
    max-height: 180px;
  }
}
</style>