<template>
	<div class="overlay" @click="outsideOverlay()">
		<div
			class="showFiles-main"
			id="showFiles-main"
			:class="{ 'showFiles-main-text': true }"
			@click="insideOverlay($event)"
		>
			<div class="showFiles-header">
				<img src="~/assets/icons/close-showfiles.svg" @click="closeShowFiles" class="showFiles-close" />
			</div>
			<div
				:class="{ 'showFiles-container': typeFile != 'image', 'showFilesImg-container': typeFile == 'image' }"
				id="showFiles-container"
			>
				<div class="loader" v-if="(typeFile == 'application' || typeFile == 'text') && !checkLoad"></div>
			</div>
			<div class="showFiles-bottom">
				<div class="showFiles-download">
					<a :href="urlCloud" target="_blank" class="showFiles-download-edit">
						<img src="~/assets/icons/showFiles-download.svg" class="showFiles-download-btn" title="Download" />
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props: ["urlCloud"],
	data() {
		return {
			urlGoogle: "",
			checkLoad: false,
			isFullFile: false,
			zoomImg: 100,
			typeFile: "",
			container: null,
		};
	},
	async mounted() {
		const BASE_URL_CLOUD = "https://storage.googleapis.com/shain-dev/"
		let url;
		url = new URL(this.urlCloud);
		url = url.pathname;
		url = url.split("/").pop();
		url = BASE_URL_CLOUD + url;

		this.urlGoogle =
			"https://drive.google.com/viewerng/viewer?embedded=true&url=" +
			url;

		this.container = document.getElementById("showFiles-container");
		this.checkOpen();
	},
	methods: {
		checkOpen() {
			this.openApplication();
		},
		openApplication() {
			if (this.checkLoad) {
				return;
			}

			const iframe = document.createElement("iframe");
			iframe.src = this.urlGoogle;
			iframe.style.width = "100%";
			iframe.style.height = "100%";
			iframe.style.border = "none";
			iframe.onload = () => {
				this.checkLoad = true;
			};

			this.container.append(iframe);
			let setTime;
			setTime = setTimeout(() => {
				if (!this.checkLoad) {
					this.container.removeChild(iframe);
					this.openApplication();
				}
				else {
					clearTimeout(setTime);
				}
			}, 7000);
		},
		fullFile() {
			this.isFullFile = true;
			let main = document.getElementById("showFiles-main");
			main.style.width = "100%";
			main.style.height = "100%";

		},
		notFullFile() {
			this.isFullFile = false;
			let main = document.getElementById("showFiles-main");
			main.style.width = "calc(100% - 177px)";
			main.style.height = "calc(100% - 96px)";

		},
		insideOverlay(event) {
			event.stopPropagation();
		},
		outsideOverlay() {
			this.closeShowFiles();
		},
		closeShowFiles() {
			this.$emit("close");
		},
	},
};
</script>
<style scoped>
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.showFiles-main {
	border-radius: 6px;
	width: calc(100% - 177px);
	height: calc(100% - 96px);

	background-color: white;
	z-index: 3;
	background: black;
}

.overlay-shape {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.showFiles-main-text {
	background: #525252;
	border-radius: 6px 0px 0px 6px;
}

.showFiles-header {
	width: 100%;
	height: 64px;

	position: relative;
}

.showFiles-container {
	width: 100%;
	height: calc(100% - 130px);
	overflow: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 24px;
}

.showFilesImg-container {
	width: 100%;
	height: calc(100% - 130px);
	overflow: auto;
	text-align: center;
}

.showFiles-image {
	max-width: 100%;
	max-height: 100%;
}

.showFiles-action {
	clear: both;
	display: inline-block;
	float: right;
}

.showFiles-bottom {
	height: 64px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0px 24px;
	position: relative;
}

.showFiles-close {
	position: absolute;
	right: 24px;
	top: 24px;
}

.showFiles-close:hover {
	cursor: pointer;
}

.showFiles-icon-action {
	padding: 6px;
	margin-right: 6px;
	border-radius: 4px;
}

.showFiles-icon-action:hover {
	cursor: pointer;
	background: #a3a6a8;
}

.showFiles-download {
	position: absolute;
	right: 30px;
	bottom: 12px;
	display: flex;
	align-items: center;
}

.actionImg {
	display: flex;
	align-items: center;
	height: 100%;
}

.showFiles-download-btn {
	padding: 6px;
	margin-left: 6px;
	border-radius: 4px;
}

.showFiles-download-btn:hover {
	cursor: pointer;
	background: #a3a6a8;
}

.showFiles-name {
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;

	/* identical to box height, or 160% */
	letter-spacing: 0.02em;

	/* White */
	color: #ffffff;
	width: calc(100% - 28px);
	height: 24px;
	overflow: hidden;
}

.showFiles-name-img {
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
	height: 24px;
	overflow: hidden;
	position: absolute;
	left: 24px;
	top: 24px;
}

.showFiles-text {
	background-color: white;
	display: inline-block;
	clear: both;
	text-align: left;
	width: 100%;
	font-size: 15px;
	height: 100%;
	outline: none;
	padding: 5px;
	border: 1px solid black;
}

.toolImgContainer {
	clear: both;
	display: inline-flex;
	color: white;
	font-size: 14px;
	line-height: 28px;
}

.toolImgEdit {
	padding-left: 12px;
	border-left: 1px solid white;
	margin-left: 12px;
}

.inpEditImg {
	height: 30px;
	width: 50px;
}

.toolBtnEdit {
	padding: 6px;
	margin-right: 6px;
	border-radius: 4px;
}

.toolBtnEdit:hover {
	cursor: pointer;
	background: #a3a6a8;
}

.hover-shape {
	position: relative;
	height: 46px;
	display: flex;
	align-items: center;
}

.shape-chose-container {
	position: absolute;
	background-color: white;
	bottom: 35px;
	left: 0px;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.shape-chose {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #363445;
	padding: 6px 12px;
	border-bottom: 1px solid #cdd6df;
}

.shape-chose-btn-active {
	background: #a3a6a8;
}

.shape-chose:hover {
	cursor: pointer;
	background: #cdd6df;
}

.hover-color {
	position: relative;
	height: 46px;
	display: flex;
	align-items: center;
}

.color-chose-container {
	position: absolute;
	background-color: white;
	bottom: 35px;
	left: 0px;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.color-chose {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #363445;
	padding: 6px 12px;
	border-bottom: 1px solid #cdd6df;
}

.color-chose-btn-active {
	background: #a3a6a8;
}

.color-chose:hover {
	cursor: pointer;
	background: #cdd6df;
}

.overlay-color {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.color-chose-text {
	clear: both;
	display: inline-block;
}

.showFiles-download-edit {
	display: flex;
}

@media screen and (max-width: 600px) {
	.showFiles-main {
		border-radius: 0px;
		width: 100%;
		height: 100%;

		background-color: white;
		z-index: 3;
		background: black;
	}

	.showFiles-icon-action-full {
		display: none;
	}

	.showFiles-container {
		height: calc(100% - 128px);
	}
}
</style>