<template>
  <div class=''>
    <div class='container-fluid px-0 pt-5' v-if="pageCount">
        <div class="d-flex">
					<client-only>
            <vue-paginate
							v-model="currentPage"
							:page-count="pageCount"
							:click-handler="onClickPage"
							:page-range="3"
							:prev-text="'‹'"
							:first-last-button="true"
							:first-button-text="'«'"
							:last-button-text="'»'"
							:next-text="'›'"
							:container-class="'pagination'"
							:page-class="'page-item'"
							:page-link-class="'page-link'"
							:prev-class="'page-item'"
							:prev-link-class="'page-link'"
							:next-class="'page-item'"
							:next-link-class="'page-link'">
						</vue-paginate>
					</client-only>
        </div>  
    </div>
    <full-modal v-if="showErrorAlertModal">
      <dialog-error
        @click-yes="onClickYes()"
        :title="dialogTitle"
        :content="dialogContent"
        :button="'OK'"
      />
    </full-modal>
  </div>
</template>

<script>
import DialogError from '~/components/dialog/DialogError.vue';
import FullModal from '~/components/dialog/FullModal.vue';
import qs from 'qs';

export default {
  name: 'VuePagination',
  props: {
    baseUrl: {
      type: String, 
      required: true, 
      default: ''
    },
    optionParam: {
      type: String, 
      required: false, 
      default: ''
    },
    paging: {
      type: Number, 
      required: true, 
      default: 0
    },
    startFetch: {
      type: Boolean, 
      required: false, 
      default: true
    },
    startPageCount: {
      type: Number, 
      required: false, 
      default: 0
    },
  },
  components: {
    DialogError,
    FullModal
  },
  data() {
    return {
      currentPage: 1,
      pageCount: 0,
      objectResults: [],
      isBeforeFetch: false,
      fetchingData: true,
      startPageCountData: 0,
      showErrorAlertModal: false,
      dialogTitle: '',
      dialogContent: '',
    }
  },
	created() {
		this.fetchingData = this.startFetch;
		this.startPageCountData = this.startPageCount;
	},
	mounted() {
		this.$watch('$route.query', (newVal, oldVal) => {
			if (newVal?.hasOwnProperty('page')) {
				this.currentPage = newVal.page ? +newVal.page : this.currentPage;
			} else {
				this.currentPage = 1;
			}
			this.fetchingData = true;
			this.startPageCountData = 0;
			this.$fetch();
		}, ({deep: true}, {immediate: true}));
	},
  methods: {
    stringifyQuery(query) {
      var result = qs.stringify(query);
      return result ? result : "";
    },
    onClickPage(pageNum) {
      this.$router.push({
        name: this.$route.name || '',
        params: this.$route.params || {},
        query: {...this.$route.query, page: pageNum},
        hash: this.$route.hash
      });
    },
    onClickYes() {
      this.showErrorAlertModal = false;
      this.$router.push('/');
    }
  },
	async fetch() {
		try {
			this.currentPage = this.$route.query.page ? +this.$route.query.page : this.currentPage;
			if (!this.fetchingData || !this.baseUrl) {
				if (this.startPageCountData) {
					this.pageCount = this.startPageCountData;
				} else {
					this.pageCount = 0;
				}
				this.$emit('before-fetch', false);
				return;
			}
			this.isBeforeFetch = true;
			if (this.currentPage === 1) {
				this.$emit('before-fetch', this.isBeforeFetch);
			}
			var queryParam = this.$route.query;
			//check case filter opening job role candidate
			if (this.$route.query.hasOwnProperty('name_opening_job')) {
				queryParam = {...queryParam, name: queryParam.name_opening_job}
			}
			var querySearch = this.stringifyQuery(queryParam);
			const result = await this.$axios.$get(`${this.baseUrl}?${querySearch ? querySearch : ('page='+this.currentPage)}&paging=${this.paging}${this.optionParam ? ('&'+this.optionParam) : ''}`);
			this.objectResults = result['data'];
      if(result['meta']) {
			  this.pageCount = result['meta']['total_pages'];
      } else this.pageCount = Math.ceil(this.objectResults.length / this.paging)
			this.isBeforeFetch = false;
			this.$emit('before-fetch', this.isBeforeFetch);
			this.$emit('fetch-success', this.objectResults);
			this.$emit('total-count', result['meta']['total_count']);
      window.scroll(0,0);
		} catch (error) {
      if(error?.response?.data?.error?.code == 'ERR.AUTH0101') {
        this.showErrorAlertModal = true;
        this.dialogTitle = "Error";
        this.dialogContent = error?.response?.data?.error?.message;
      }
			this.$emit('fetch-error', false);
		}
	},
}
</script>
<style lang="scss" scoped>
:deep( .page-item) {
  .page-link{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    width: 32px;
    height: 32px;
    margin: 0 4px;
    // padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.active {
    .page-link {
      color: #1890FF;
      border: 1px solid #1890FF;
      pointer-events: none;
    }
  }
  &.disabled {
    .page-link {
        color: #D9D9D9;
        border: 1px solid #D9D9D9;
    }
  }
}
</style>