<template>
  <ValidationProvider v-slot="{ errors, validate }" 
    :name="$attrs.name" 
    :rules="rules" 
    tag="div">
    <div class="__avatar position-relative">
        <div class="w-100">
          <client-only>
            <!-- <v-focus-trap v-if="showUpload"> -->
              <my-upload field="file"
                :value.sync="showUpload" 
                @crop-success="cropSuccess"
                @crop-upload-success="cropUploadSuccess"
                @crop-upload-fail="cropUploadFail"
                :width="sizeConfig.width"
                :height="sizeConfig.height"
                :url="getBaseUrl"
                :headers="header"
                :lang-ext="langExt"
                lang-type="en"
                :name="$attrs.name"
                :maxSize="(10240)"
                img-format="png"
                @input="fnInput($event); validate(innerValue)"
                :tabIndex="-1"
                ref="uploadImg">
              </my-upload>
            <!-- </v-focus-trap> -->
          </client-only>
          <input type="text" v-model="innerValue" class="d-none">
          <img :src="innerValue" v-if="innerValue"
            :class="{'avatar': $attrs.classAvatar}"
            :style="$attrs.size && Object.keys($attrs.size).length > 0 ? 'width: 100%; height:auto' : 'width: 300px; height: 300px'"
            :alt="innerValue">
          <div class="area__selected-upload" v-else @click="toggleShow" @dragover.prevent @drop.stop.prevent="onDrop">
            <div class="__title">
              <span>{{ 'Drag and drop or choose an image to upload' }}</span>
            </div>
            <!-- <div class="__intro">
              <span>{{ 'message.file_upload_description' }}</span>
            </div> -->
          </div>
          <div v-show="errors[0]">
            <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
          </div>
        </div>
        <div class="__btn btn_system_action_primary_hover" @click="toggleShow" v-if="innerValue">
          <svg data-v-10816823="" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect data-v-10816823="" width="36" height="36" rx="18" fill="#FEFEFF"></rect>
            <path data-v-10816823="" d="M26.25 12.0938H23.0625L22.3031 9.96563C22.2507 9.82 22.1545 9.69413 22.0278 9.6052C21.9011 9.51627 21.7501 9.46861 21.5953 9.46875H14.4047C14.0883 9.46875 13.8047 9.66797 13.6992 9.96563L12.9375 12.0938H9.75C8.71406 12.0938 7.875 12.9328 7.875 13.9688V24.6562C7.875 25.6922 8.71406 26.5312 9.75 26.5312H26.25C27.2859 26.5312 28.125 25.6922 28.125 24.6562V13.9688C28.125 12.9328 27.2859 12.0938 26.25 12.0938ZM18 22.7812C15.9281 22.7812 14.25 21.1031 14.25 19.0312C14.25 16.9594 15.9281 15.2813 18 15.2813C20.0719 15.2813 21.75 16.9594 21.75 19.0312C21.75 21.1031 20.0719 22.7812 18 22.7812ZM15.75 19.0312C15.75 19.628 15.9871 20.2003 16.409 20.6222C16.831 21.0442 17.4033 21.2812 18 21.2812C18.5967 21.2812 19.169 21.0442 19.591 20.6222C20.0129 20.2003 20.25 19.628 20.25 19.0312C20.25 18.4345 20.0129 17.8622 19.591 17.4403C19.169 17.0183 18.5967 16.7812 18 16.7812C17.4033 16.7812 16.831 17.0183 16.409 17.4403C15.9871 17.8622 15.75 18.4345 15.75 19.0312Z" fill="#202B5A"></path>
          </svg>
        </div>
      </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from "vee-validate";

export default {
  // name: 'VCropImageUpload2WithValidation',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      default: ""
    },
    value: {
      type: String
    }
  },
  data() {
    return {
      files: [],
      innerValue: '',
      showUpload: false,
      showMessageUploadSuccess: false,
      header: {
        Authorization: this.$auth.strategy.token.get()
      },
      langExt: {
        hint: 'Choose a file or drag it here to upload',
        loading: 'Uploading…',
        noSupported: 'Browser is not supported, please use IE10+ or other browsers',
        success: 'Upload success',
        fail: 'Upload failed',
        preview: 'Preview',
        btn: {
          off: 'Cancel',
          close: 'Close',
          back: 'Back',
          save: 'Save'
        },
        error: {
          onlyImg: 'Image only',
          outOfSize: 'Image exceeds size limit: ',
          lowestPx: 'Insufficient image resolution. It should be at least: '
        }
      },
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value;
    }
  },
  computed: {
    getBaseUrl() {
      return process.env.BASE_URL_API + '/user/upload';
    },
    sizeConfig() {
      const _width = (this.$attrs.size)?.width ?? 200;
      const _height = (this.$attrs.size)?.height ?? 200;
      return {
        width: _width,
        height: _height,
        Hratio: _height / _height,
        Wratio: _width / _height
      }
    }
  },
  watch: {
    innerValue(newVal) {
      this.$emit("input", newVal);
    },
    value(newVal) {
      this.innerValue = newVal;
    }
  },
  methods: {
    fnInput(_val) {
      this.showUpload = _val;
    },
    toggleShow() {
      this.showUpload = !this.showUpload;
      this.$nextTick(() => {
        (this.$refs['uploadImg'])?.$el?.querySelector("input[type='file'")?.setAttribute('accept', 'image/*');
      });
    },
    cropSuccess(imgDataUrl, field){
      (this.$refs['uploadImg'])?.$el?.querySelector(".vicp-operate-btn")?.setAttribute('disabled', 'disabled');
      (this.$refs['uploadImg'])?.$el?.querySelector(".vicp-operate-btn")?.setAttribute('style', 'pointer-events: none');
      this.innerValue = imgDataUrl;
    },
    async cropUploadSuccess(jsonData, field){
      this.innerValue = jsonData.data.data;
      this.showUpload = false;
      this.showMessageUploadSuccess = true;
      this.$auth.setUser({...this.$auth.user, avatar: this.innerValue});
      this.$emit('upload-success', this.innerValue)
      // try {
      //   await this.$axios.post(process.env.BASE_URL_API + '/user-info/avatar', {
      //     avatar: this.innerValue
      //   })
      // } catch (error) {
      //   console.log(error);
      // }
    },
    cropUploadFail(status, field){
      console.log('status', status, field);
      this.innerValue = '';
    },
    onDrop(e) {
    this.toggleShow();
      e.stopPropagation();
      e.preventDefault();
      this.$nextTick(() => {
        (this.$refs['uploadImg']).handleChange(e);
      });
    }
  },
}
</script>
<style lang="scss" scoped>
.__avatar {
  .__label {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #202B5A;
    margin-bottom: 7px;
    @media screen and (max-width: 767.98px) {
		font-size: 20px;
	  }
  }
  img {
    width: 384px;
    height: 384px;
    border-radius: 10px;
    object-fit: cover;
    -o-object-fit: cover;
    box-shadow: 0px 0px 10px rgba(7, 32, 99, 0.16);
  }
  .avatar {
    border-radius: 50px;
    border: 10px solid #FFF;
    max-height: 192px;
  }
  .area__selected-upload {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #CDD6DF;
    box-sizing: border-box;
    border-radius: 10px;
    // background-image: url(../../assets/images/defaultAvata.webp);
    background-position: center;
    background-color: #BFC2C5;
    padding: 0 24px;
    width: 192px;
    height: 192px;
    // @media screen and (max-width: 767.98px) {
		// 	padding: 56px 16px 24px 16px;
		// }
    img {
      width: 192px;
      height: 192px;
    }
    .__title {
      font-weight: bold;
      font-size: 17px;
      line-height: 30px;
      color: #202B5A;
      margin-top: 25px;
      margin-bottom: 20px;
      @media screen and (max-width: 767.98px) {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 16px;
      }
    }
    .__intro {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #525252;
      text-align: center;
      width: 100%;
      @media screen and (max-width: 767.98px) {
        font-size: 15px;
      }
    }
    &:hover {
      border-color: #0960BD;
      cursor: pointer;
      translate: .3s;
    }
  }
}
.__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  svg {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background: rgba(205,214,223,0.5);
    border-radius: 50px;
    svg {
      display: block;
    }
  }
  // width: 156px;
  // height: 48px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background: #202B5A;
  // border-radius: 6px;
  // cursor: pointer;
  // span {
  //   font-weight: bold;
  //   font-size: 17px;
  //   line-height: 30px;
  //   color: #FAFBFF;
  // }
}
@media screen and (max-width: 767px) {
  .__avatar {
    img {
      width: 100%;
    }
    & :deep( .vue-image-crop-upload .vicp-wrap ) {
      width: auto !important;
      @media screen and (max-width: 560px) {
        height: 450px !important;
      }
      margin-left: 1rem;
      margin-right: 1rem;
      .vicp-icon4 {
        display: none;
      }
     & :deep( .vicp-step2 .vicp-crop .vicp-crop-left ) {
        text-align: -webkit-center !important;
        float: none !important;
      }
     & :deep( .vicp-step2 .vicp-crop .vicp-crop-right ) {
        display: flex !important;
        justify-content: center !important;
        float: none !important;
      }
    }
  }
}

.avatar_anonymous {
  width: auto !important;
  height: auto !important;
  border-radius: 0 !important;
}
:deep( input[type="range"] ) {
  padding: 0 0 0 0;
  height: 13px !important;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    padding: 0 0 0 0;
    height: 18px !important;
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 767.98px) {
	:deep( .vicp-drop-area ) {
    height: auto !important;
  }
}
</style>
