<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="$attrs.name"
    :rules="rules"
    tag="section"
    @click.native.stop
  >
    <div class="mb-0">
      <div class="mb-2 _label">
        <span v-show="$attrs.label">
          {{ $attrs.label }}
        </span>
        <span v-show="rules.includes('required')" style="color:red">*</span>
      </div>
      <div class="input-group">
        <div class="input-group-prepend"
            :class="{'disable': $attrs.readonly}">
          <button class="btn btn-default input-group-text" type="button" title="Toggle" data-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          </button>
        </div>
        <client-only>
          <flat-pickr
            v-model="innerValue"
            :config="configDatePicker"
            class="flat-pickr"
            :class="{'disable': $attrs.readonly}"
            v-bind="$attrs"
            ref="datePicker"
          />
        </client-only>
      </div>
      <small class="text-danger small">{{ errors[0] }}</small>
    </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider
  },
  props: {
    value: {
      type: String,
      default: null
    },
    rules: {
      type: [Object, String],
      default: ''
    }
  },
  data() {
    return {
      innerValue: '',
      isOpen: false,
    }
  },
  computed: {
    configDatePicker() {
      const _config = { 
        allowInput: true, 
        wrap: true,
        // locale: this.$i18n.locale,
        altInput: true, 
        format: 'Y-m-d',
        // mode: `${this.$attrs.mode}`, 
        // disableMobile: true,
        // static: !this.$attrs.static,
        altFormat: this.formatDateInput,
        // onClose: this.onClose,
        // onOpen: (selectedDates, dateStr, instance) => {
        //   this.isOpen = true;
        // }
      };
      if (this.$attrs.minDate) {
        _config.minDate = this.$attrs.minDate;
      }
      if (this.$attrs.maxDate) {
        _config.maxDate = this.$attrs.maxDate;
      } else {
        _config.maxDate = '9999/12/31'
      }
      if (this.$attrs.position) {
        _config.position = this.$attrs.position;
      }
      return _config;
    },
    formatDateInput() {
      let _format = 'm/d/Y';
      if(this.$i18n.locale === 'vi'){
        _format = 'd/m/Y';
      } else if(this.$i18n.locale === 'ja'){
        _format = 'Y/m/d'
      }
      return _format; 
    }
  },
  watch: {
    innerValue(newVal) {
      this.$emit('input', newVal);
    },
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  },
  methods: {
    onClose(selectedDates, dateStr, instance){
      instance.setDate(dateStr);
      this.isOpen = false;
    },
    chooseDay(){
      this.$refs.datePicker.fp.open();
    }
  }
}
</script>

<style lang="scss" scoped>
._label {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #041C4A;
  margin-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
}
:deep( .input-group-text ) {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  box-shadow: 1px 7px 20px rgba(134, 133, 133, 0.15);
}
:deep( .form-control ) {
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  box-shadow: 1px 7px 20px rgba(134, 133, 133, 0.15);
  padding: 10px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Montserrat', sans-serif;
  
  &.disable {
    background: #E2E9ED;
    box-shadow: 1px 1px 5px rgba(134, 133, 133, 0.15);
    pointer-events: none;
  }
}
.input-group-prepend.disable {
  pointer-events: none;
}
</style>
