<template>
  <validation-provider
    v-slot="{ errors }"
    :name="$attrs.name"
    :rules="rules"
    tag="div"
    class="w-100"
    ref="obs"
  >
    <div class="mn-0">
      <div class="_label">
        <span>
          {{ $attrs.label }}
        </span>
        <span class="text-danger font-weight-bold font-10" v-if="rules.includes('required')">*</span>
      </div>
      <div class="select-custom" :tabindex="tabindex" @blur="open = false">
        <div class="selected" :class="{ open: open, 'disable': $attrs.readonly }" @click="open = !open">
          {{ selected.name }}
        </div>
        <div class="items" :class="{ selectHide: !open }">
          <div
            v-for="(option, i) of options"
            :key="i"
            :class="{ 'item-selected': selected == option }"
            @click="
              selected = option;
              open = false;
              $emit('input', option.id);
            "
          >
            {{ option.name }}
          </div>
        </div>
      </div>
      <input type="text" class="d-none" v-model="selected.id">
      <small class="text-danger small">{{ errors[0] }}</small>
    </div>
  </validation-provider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider
  },
  props: {
    options: {
      type: Array,
      required: true,
    },
    value: {
      required: false,
      default: null,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
    rules: {
      type: [Object, String],
      default: ""
    },
  },
  data() {
    return {
      selected: (this.value !== undefined && this.value !== '')
        ? this.options.find(option => option.id === this.value)
        // : this.options.length > 0
        // ? this.options[0]
        : {id: null, name: this.$attrs.placeholder},
      open: false,
    };
  },
  mounted() {
    // this.$emit("input", this.selected.id);
  },
  methods: {
    async clearData() {
      this.selected = '';
      // setTimeout(() => {
        await this.$refs['obs'].validate();
      // }, 10);
    }
  }
};
</script>

<style scoped>
._label {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #041C4A;
  margin-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
}
.select-custom {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
}

.select-custom .selected {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #666666;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D9D9D9;
  box-shadow: 1px 7px 20px rgba(134, 133, 133, 0.15);
  border-radius: 10px;
  padding: 0 12px;
}

.select-custom .selected.open {
  border: 1px solid #D9D9D9;
  border-radius: 6px 6px 0px 0px;
}

.select-custom .selected.disable {
  background: #E2E9ED;
  box-shadow: 1px 1px 5px rgba(134, 133, 133, 0.15);
  pointer-events: none;
}
.select-custom .selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-custom .items {
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  border-right: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}

.select-custom .items div {
  color: rgba(0, 0, 0, 0.7);
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.select-custom .items div:hover {
  background-color: #CDD6DF;
}

.select-custom .items .item-selected {
  font-weight: 500;
  background: #4DA4D6;
  pointer-events: none;
  cursor: default;
}
.selectHide {
  display: none;
}
</style>
