<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="$attrs.name"
    :rules="rules"
    tag="div"
  >
    <!-- tag="form" -->
    <div class="input-wrapper">
      <input
        v-model.trim="innerValue"
        :type="$attrs.type"
        :id="'input'+$attrs.name"
        class="text-input"
        v-if="$attrs.isEmail"
        :placeholder="$attrs.name"
      >
      <input
        v-model="innerValue"
        :type="$attrs.type"
        :id="'input'+$attrs.name"
        class="text-input right-icon-padding"
        :placeholder="$attrs.name"
        v-else
      >
      <!-- <label :for="'input'+$attrs.name" :class="{'transition-text': innerValue}">{{ $attrs.label }}</label> -->
      <!-- <div div class="label" :class="{'transition-text': innerValue}">
        {{ $attrs.label }}
      </div> -->
      <!-- <div class="icon-show-password" v-if="$attrs.isPassword" @click="isShow = !isShow">
        <svg v-if="isShow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
          <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
          <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
          <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
        </svg>
        <svg v-else xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
        </svg>
      </div> -->
    </div>
    <span class="text-error">{{ errors[0] }}</span>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate';

export default {
  name: 'VTextFieldType1WithValidation',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      default: ""
    },
    value: null
  },
  data() {
    return {
      innerValue: '',
      isShow: false
    }
  },
  watch: {
    innerValue (val) {
      this.$emit('input', val);
    },
    value(val) {
      this.innerValue = val;
    },
    isShow(newVal) {
      if(newVal) {
        this.$attrs.type = 'text';
        this.$emit('change-type', 'text');
      } else {
        this.$attrs.type = 'password';
        this.$emit('change-type', 'password');
      }
    }
  }
}
</script>

<style scoped lang="scss">
.input-wrapper {
  
  // background: #FFFFFF;
  // border-radius: 8px;
  // border: 1px solid #E3E5E6;
  // // box-shadow: 1px 3px 13px rgba(131, 180, 225, 0.75);
  // padding: 7px 16px; //-1 px border
  // display: flex;
  // flex-direction: column;
  // position: relative;
  // height: 48px;
  // label {
  //   position: absolute;
  //   left: 16px;
  //   top: 16px;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 16px;
  //   color: #72777A;
  //   transition: .25s ease-in-out;
  //   transform-origin: top left;
  //   // z-index: 1;
  //   &.transition-text {
      
  //     transition: 0s;
  //     transform: scale(.75) translateY(-12px);
  //   }
  // }
  .text-input {

    border: none;
    height: 50px;
    /* color: white !important; */
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #083868;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &::placeholder{
      color: #083868;
    }
    &:hover {
      border: 1px solid #2282e9;
    }
  }
  .icon-show-password {
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
  }
}
.text-error {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FA000A;
  margin-top: 12px;
  height: 16px;
  display: inline-block;
}
</style>