<template>
  <validation-provider
    v-slot="{ errors }"
    :name="$attrs.name"
    :rules="rules"
    tag="div"
    class="w-100"
  >
    <div>
      <div class="form-group mb-0">
        <div class="_label">
          <span>
            {{ $attrs.label }}
          </span>
          <span class="text-danger font-weight-bold font-10" v-if="rules.includes('required')">*</span>
        </div>
        <input
          v-model.trim="innerValue"
          v-bind="$attrs"
          :placeholder="$attrs.placeholder"
          :class="{'disable': $attrs.readonly}"
        >
        <small class="text-danger small">{{ errors[0] }}</small>
      </div>
    </div>
  </validation-provider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'VTextFieldWithValidation',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      default: ""
    },
    // must be included in props
    value: {
      type: null
    }
  },
  data() {
    return {
      innerValue: ''
    }
  },
  watch: {
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>
<style lang="scss" scoped>
._label {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #041C4A;
  margin-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
}
input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 1px 7px 20px rgba(134, 133, 133, 0.15);
  border-radius: 10px;
  padding: 10px 16px;

  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Montserrat', sans-serif;

  &:focus-visible {
    outline: none;
  }
  &.disable {
    background: #E2E9ED;
    box-shadow: 1px 1px 5px rgba(134, 133, 133, 0.15);
    pointer-events: none;
  }
}
.small {
  font-size: 14px;
  display: inline-block;
}
</style>